
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html{
    background-color: #101010;

	background: -webkit-radial-gradient(rgba(12, 0, 19, 0.85), rgb(12, 0, 19)); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgba(12, 0, 19, 0.85), rgb(12, 0, 19)); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(rgba(12, 0, 19, 0.85), rgb(12, 0, 19)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgba(12, 0, 19, 0.85), rgb(12, 0, 19)); /* Standard syntax */
}

body{
	background-color:transparent;

	p{
		font-family: 'Open Sans', sans-serif;
		color:#ddd;
	}

	h1,
	h2,
	h3,
	h4{
		font-family: 'Work Sans', sans-serif;
		color: #ddd;
	}

	section{
		margin-top:30px;
		margin-bottom: 30px;
	}

	.title{
		margin-top:10%;
		margin-bottom:10%;
	}



	section.show{

		.face{
			background-color: #fefbec;
		    padding: 0px;
			margin: 0 auto;
		    border-radius: 3px;
		    margin-top: 20px;
		    margin-bottom: 10px;
		    max-width: 500px;



			.upvote, .downvote{
				width: 50%;
				padding: 10px;
				background-color: #fefbec;
				color: #464646;
				text-transform: uppercase;
				font-weight: bold;
			    border: 1px solid rgba(86, 59, 94, 0.24);
				font-family: "Work Sans";
				border-radius: 3px;
				font-size: 10px;
			}

			.upvote{
				float:left;
			}

			.downvote{
				float:right;
			}

			a{
				width: 100%;
				margin: 0 auto;
				display: block;
				margin-top: 38px;
				margin-bottom: 20px;
				padding: 10px;
				background-color: #df5646;
				color: white;
				text-transform: uppercase;
				font-family: "Work Sans";
				letter-spacing: 1px;
				font-weight: bold;
				font-size: 12px;
				text-align: center;
			}


			.next, .prev{
				display: inline-block;
				margin-top:10px;
			}

			.next{
				width:50%;
				margin-right:0;
				float:right;
				background-color: #dadce2;
    			color: #464646;
			}

			.prev{
				width:50%;
				margin-left:0;
				float:left;
			}

		}

	}



}
